<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bill Form</title>
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body>
    <h1>The Bill Page</h1>
    <p>Fill in the form and click the button to get results.</p>

    <form action="/bill" method="post">
      {{billform.amount.label}}{{billform.amount}}
      <br>
      {{billform.period.label}}{{billform.period}}
      <hr>
      <p>First Flatmate</p>
      {{billform.name1.label}}{{billform.name1}}
      <br>
      {{billform.days_in_house1.label}}{{billform.days_in_house1}}
      <hr>
      <p>Second Flatmate</p>
      {{billform.name2.label}}{{billform.name2}}
      <br>
      {{billform.days_in_house2.label}}{{billform.days_in_house2}}
      <br>
      {{billform.button}}
      <br>
      {% if result %}
      {{name1}} pays {{amount1}} <br>
      {{name2}} pays {{amount2}}
      {% endif %}
    </form>

  </body>
</html>
